/* Main menu */
/*
.top-bar, .top-bar ul {
	background-color : white;	
}
*/

/* Slides */
div.slide_description {
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	background-color:rgba(30,24,20,0.7);
	/*background-color:rgba(0,0,0,0.8);*/
}
#Slider .item.slide_0 div.background {
    background-image: url('../img/slide0.jpg');
}
#Slider .item.slide_1 div.background {
    background-image: url('../img/slide1.jpg');
}
#Slider .item.slide_2 div.background {
    background-image: url('../img/slide2.jpg');
}
#Slider .item.slide_3 div.background {
    background-image: url('../img/slide3.jpg');
}
#Slider .container h1,
#Slider .container h2,
#Slider .container h3,
#Slider .container h4,
#Slider .container p,
#Slider .container a  {
	color: #fff;
	font-weight: 300;
	margin: 0;
	padding-top: 0;	
	padding-bottom: 0;
	line-height: 1em
}

#Slider .container h1 {
	font-size: 3.5em;
}
#Slider .container h2,
#Slider .container p {
	text-align: right;
}
#Slider .container h2 {
	padding-bottom: 0.3em;
}

#Slider .container a  {
	margin-left: 1em;
	
}
#Slider .container a,
#Slider .container a.button:after{
	line-height: 1em !important;
    font-size: 1em;
}

.slide_content {
	font-size: 14px;
	font-weight: 400;
}

/* Secciones */
.callout ,
#condiciones h5{
	color: #fff;
	margin : 0;
}


/* Hospedaje - Servicios*/
#servicios{
	background-image: url('../img/servicios.jpg');
}
#hospedaje{
	background-image: url('../img/hospedaje.jpg');
}
#servicios p.serv {
	text-align: center;
	line-height: 20px;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}
#servicios p:last-child.serv {
	padding-bottom:30px;
}
#hospedaje .accordion,
#servicios .accordion{
    color: black;
}
#hospedaje .accordion_in{
	background-color: rgba(255,255,255,0.6);
}
#servicios .accordion_in{
	background-color: rgba(255,255,255,0.8);
}

#hospedaje .smk_accordion .accordion_in .acc_head,
#hospedaje .smk_accordion .accordion_in.acc_active > .acc_head {
	background-image: url("../img/persona.png");
	background-position: right 55px top 11px !important;
    background-size: auto 47px;
}

.acc_content span.super{
	vertical-align: super;
	font-size: 0.6em;
}

.smk_accordion .accordion_in{
	padding-top:10px;
	padding-bottom: 20px;
}

.smk_accordion .accordion_in,
.accordion_in .acc_content_left,
.accordion_in .acc_content_right {
	color: #463629;
}

.smk_accordion .acc_border.acc_0{
	border-left-color: #F8A51C;
}
.smk_accordion .acc_border.acc_1{
	border-left-color: #FECA07;
}
.smk_accordion .acc_border.acc_2{
	border-left-color: #BED538;
}
.smk_accordion .acc_border.acc_3 {
    border-left-color: #8BC541;
}
.smk_accordion .acc_border.acc_4 {
    border-left-color: #008DA1;
}
#hospedaje .smk_accordion .acc_head:after {
	font-weight: 100;
    position: absolute;
    right: 87px;
    top: 40px;
    font-size: 14px;
    color: #fff;
    content: "Personas";
}
#hospedaje .smk_accordion .acc_head:before {
	position: absolute;
    right: 85px;
    top: 0px;
    font-size: 35px;
    color: #fff;
    
}

#hospedaje .smk_accordion .acc_0 .acc_head:before {
	content: "11-13";
}
#hospedaje .smk_accordion .acc_1 .acc_head:before {
	content: "6-7";
}
#hospedaje .smk_accordion .acc_2 .acc_head:before {
	content: "4-6";
}
#hospedaje .smk_accordion .acc_3 .acc_head:before {
	content: "2-4";
}


.smk_accordion .accordion_in .acc_head > h5 {
	cursor: pointer;
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 0px;
	
	
}

#servicios #foot{
	color: #fff;
    background-color: rgba(30,24,20,0.7);
}

.acc_bottom span a{
	font-size: 1.25em;
	color: #463629;
}

/* Reservas-Puntajes */
div#reservas,
div#reservation{
    background-color: #FFCB04;
}
div#puntajes {
	background-color: #F8A51C;
    background-image: url('../img/puntajes.jpg');
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
}
#puntajes .callout {
	margin:0;
}
#puntajes h2{
	font-weight: bold;
    font-size: 24px;
}
#puntajes #capacidad h2,
#puntajes #dias h2 {
	height:66px;
}
#puntajes p{	
    font-weight: 500;
    text-align: justify;
}

/*  Contacto  */
div#contacts{
	background-color: #008da1;
	background-image: url('../img/contacto.jpg');
	background-size: contain;
    background-repeat: no-repeat;
	background-position: bottom;
	color: #fff;
}

div#contacts a{
	color: white;
}


/*  Footer  */
footer p{
	font-size: 10pt;
	color: #fff;
}
footer{
	background-color: #008da1;
}
footer a{
	color: #fff;
}
footer a:hover{
	color: #463629;
}
 
 /*  Galeria  */
.overlay-fade-in p {
  letter-spacing: 0.15em;
  color: #f4f4f4;
  font-size: 18px;
  font-style: italic;
}
#img_1 .overlay-fade-in .image-overlay-content {
  background-color: rgba( 248, 165, 28, 0.9);}
#img_3 .overlay-fade-in .image-overlay-content {
  background-color: rgba( 254, 202, 7, 0.9);}
#img_2 .overlay-fade-in .image-overlay-content {
  background-color: rgba( 190, 213, 56, 0.9);}
#img_4 .overlay-fade-in .image-overlay-content {
  background-color: rgba( 0, 141, 161, 0.9);}
#img_8 .overlay-fade-in .image-overlay-content {
  background-color: rgba( 190, 213, 56, 0.9);}
#img_6 .overlay-fade-in .image-overlay-content {
  background-color: rgba( 0, 141, 161, 0.9);}
#img_7 .overlay-fade-in .image-overlay-content {
  background-color: rgba( 248, 165, 28, 0.9);}
#img_5 .overlay-fade-in .image-overlay-content {
 background-color: rgba( 254, 202, 7, 0.9);}
.overlay-fade-in h2 {
  color: #f2f2f2;
  font-weight: 500;
  font-size: 32px;
}
