<html lang="es-ES" ng-app="app">
	<head>
		<meta charset="UTF-8" />
		<title>Administracion Natura :: Codigos Promocionales</title>
		<link rel='stylesheet' href='estilo.css' type='text/css' media='all' />
		<script src="angular.min.js"></script>
		<script src="generar.js"> </script>
	</head>
	<body ng-controller="control">
		<div class="fullwidth" >
			<div class="menu">
				<span> <a href="generar.html"> Generar </a> </span>
				<span> <a href="administrar.php"> Administrar </a> </span>
				<span> <a href="aprobar.php"> Aprobar </a> </span>
			</div>
			<div class="content">
		<h2>Llene los datos para generar un nuevo codigo promocional</h2>
		<div style="clear:both">&nbsp;</div>
		<h5 ng-if="resp.error != 0" style="color:red">{{ error }}</h5>
		<form name="gnrrcdgo" accept-charset="UTF-8" ng-submit="newCode()">
		
			<label><strong>Descripcion</strong> 
			<input style="width: 215px" ng-model="dscr" size="31" type="text" required/></label>
			
			<div style="clear:both">&nbsp;</div>
			<label><strong>Tipo de Asignacion</strong> </label>
			<table width="300px">
				<tr>
					<td><center><input type="radio" name="asgn" ng-model="asgn" value="Unico" required ng-change="change()"></center></td>
					<td><center><input type="radio" name="asgn" ng-model="asgn" value="Masivo" required ng-change="change()"></center></td>
					<td><center><input type="radio" name="asgn" ng-model="asgn" value="Multiple" required ng-change="change()"></center></td>
				</tr>
				<tr>
					<td><center>Unico</center></td>
					<td><center>Masivo</center></td>
					<td><center>Multiple</center></td>
				</tr>
			</table>
			<div style="clear:both">&nbsp;</div>
			<div ng-if="!mostrar">
			<div style="float:left; padding-right:50px;">
			<label><strong>Busque los clientes a quienes les asignara el codigo</strong> </label>
			<br>
			<input style="width: 300px" type="text" ng-model="buscar" ng-change="searching(buscar)"><br>
			<select style="width: 300px; height:100px" multiple>
			  <option ng-repeat="user in filtered" ng-dblclick="addUser(user)" value="{{ user }}">{{ user.nmbre | capitalize }}</option>
			</select>
			</div>
			<div style="float:left">
			<label><strong>Lista de clientes a asignar:</strong> </label>
			<br>
			<select style="width: 300px; height:120px"  multiple>
			  <option ng-dblclick="list.splice($index,1)" ng-repeat="user in list" value="{{ user }}">{{ user.nmbre | capitalize }}</option>
			</select>
			</div>
			</div>
			<div style="clear:both">&nbsp;</div>
			
			<div style="float:left; padding-right:98px;">
			<label><strong>Fecha de Inicio</strong>
			<input style="width: 192px" ng-model="fmin" type="date" name="fmin" id="fmin" min="2016-01-01" max="2016-12-31" required>
			</label>
			</div>

			<div style="float:left; ">
			<label><strong>Fecha de Fin</strong>
			<input style="width: 208px" ng-model="fmax" type="date" name="fmax" id="fmax" min="2016-01-01" max="2016-12-31" required>
			</label>
			</div>
			
			<div style="clear:both">&nbsp;</div>
			<label><strong>Descuento</strong>
			<select name="dscn" id="dscn" ng-model="dscn" required>
			  <option value="5">5%</option>
			  <option value="10">10%</option>
			  <option value="15">15%</option>
			</select>
			</label>
			
			<div style="clear:both">&nbsp;</div>
			<div><button name="gnrr" type="submit" />Enviar</button></div>
		
		</form>
		</div>
		</div>
	</body>
</html>
