/*Estructura para Tabla*/
#accion{ 
    min-width: 5rem;
    width: 10rem;
    text-align: center;
}

#fecha{
    min-width: 12rem;
    width: 20rem;
    text-align: center;
}
#codigo{
    min-width: 10rem;
    width: 20rem;
}
#descrip{
    min-width: 16rem;
    width: 20rem;    
}
#descuento{
    min-width: 5rem;
    width: 10rem;
    text-align: center;
}
#estado{
    min-width: 9rem;
    width: 11rem;
    text-align: center;
}
#tipo{
    min-width: 7rem;
    width: 8rem;
    text-align: center;
}
/*Cuadros de dialogo*/
.ngdialog.ngdialog-theme-default {
    padding-bottom: 16px;
    padding-top: 16px;
 
}
