ul.general_stats{
    padding: 0;
    list-style:none;
}

ul.general_stats a.star{
    margin-left: 2em;
}
table.listado { 
    width: auto;
    background-color: #eee;
    border: 1px solid #666666;
}
#accion{ 
    min-width: 5rem;
    width: 10rem;
    text-align: center;
}

.listado thead {
    background-color: #ccc;
}

.listado th{
    text-align: center;
}


#fecha{
    min-width: 12rem;
    width: 20rem;
    text-align: center;
}
#codigo{
    min-width: 10rem;
    width: 20rem;
}
#descrip{
    min-width: 16rem;
    width: 20rem;    
}
#descuento{
    min-width: 5rem;
    width: 10rem;
    text-align: center;
}
#estado{
    min-width: 9rem;
    width: 11rem;
    text-align: center;
}
#tipo{
    min-width: 7rem;
    width: 8rem;
    text-align: center;
}

.ngdialog.ngdialog-theme-default {
    padding-bottom: 16px;
    padding-top: 16px;
 
}
