.title {
	background-color: #008da1;
}
.title h1,.title h4{
	color:white;
	line-height: 1.2em;
}
.seccion_title_5 h2{
	color: white;
}
.seccion_title h3,.seccion_title h5{
	line-height: 1em;
	color: #463629;
	font-weight: 600;
}
.seccion_title_5 .seccion_title h3,
.seccion_title_4 .seccion_title h3,
.seccion_title_4 .seccion_title h5{
	color: #fff;
}
ul{
	list-style-type: square;
}
ul.inter{
	list-style: none;
	margin: 0;
}
	
.foot{
	background: #fff;
	height: 4em;
	line-height: 4em;
	bottom: 0;
	position: absolute;
	width: auto;
	padding: 0 1em;
}

.foot a:hover{
	color: #463629;
	border-color: #463629;
}

p {
	text-align: justify;
	color: #463629;
	/*font-weight: 600;*/
	line-height: 1.3em;
}
span,h3,ul,li{
	color: #463629;
/*	font-weight: 600;*/
}

/* Secciones */
.callout {
	color: #000;
	margin : 0;
}
/*tabla */
table.villas tbody{
	border: 0;
	background: none; 
}
table.comp thead th,
table.comp {
	text-align: center;
}
table.comp thead{
	background: rgb(55,147,158);
}

table.comp thead  th{
	color: #fff;
    font-size: 1.2em;
    font-weight: 500;
	border-right: #FFFAE1 1px solid;
}
table.comp td{
	color: #463629;
	font-weight: 300;
	border-right: #fffae1 1px solid;
}

table.comp .ttl{
	font-weight: 600;
}

table tbody, table tfoot {
    background-color: #fffae1;
}
table.comp tbody tr:nth-child(even) {
    background-color: rgb(188,223,219);
}

/*  Footer  */
footer p{
	font-size: 10pt;
	color: #fff;
	margin-bottom: 0.5em;
	font-weight: 400;
}
footer{
	background-color: #008da1;
}
footer a{
	color: #fff;
	font-weight: 600;
}
footer a:hover{
	color: #463629;
}
