/*fondo*/
body{
	background: #c1bdba;
}
/*Diseño ventana de login y registro*/
h1,h2,h3,h4,h5 {
	color: white;
	font-weight:200;
}

.form {
    background: rgba(19, 35, 47, 0.9);
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.tab a{
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    cursor: pointer;
	-webkit-transition: .5s ease;
    transition: .5s ease;
}
a {
    text-decoration: none;
    color: #1ab188;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab.active > a{
	background: #1ab188;
    color: #ffffff;
}
.tab a:hover{
	background: rgb(23, 155, 119);;
    color: #ffffff;
}


.sign label{
	color: rgba(255, 255, 255, 0.5);  
}
.sign label .req{
	color: #1ab188;
}

.sign label.error{
	color: red;  
}
.sign input,
.sign select{
	background: none !important;
    background-image: none;
    border: 1px solid #a0b3b0;
	color: #ffffff;
}
.sign option{
	color: #000;
}