p {
	text-align: justify;
}

/* Secciones */
.callout {
	color: #000;
	margin : 0;
}
/*tabla */
table thead th,
table {
	text-align: center;
}
table thead{
	background: #ffae00;
}

/*  Footer  */
footer p{
	font-size: 10pt;
	color: #fff;
}
footer{
	background-color: #008da1;
}
footer a{
	color: #fff;
}
footer a:hover{
	color: #463629;
}
